{{ if ne .Params.toc false -}}
  <div class="page-links">
    <h3>On this page</h3>
    {{ .TableOfContents }}
  </div>
{{ end -}}

<script src="https://giscus.app/client.js"
        data-repo="kaiyuanshe/become-an-open-source-person"
        data-repo-id="R_kgDOJZDctw"
        data-category="General"
        data-category-id="DIC_kwDOJZDct84CV6Mo"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>