{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">
        成为开源人</br>        
      </h1>
      <h3>Become an open source person</h3>
    </div>
    
    <div class="col-lg-9 col-xl-8 text-center">
      <a class="btn btn-primary btn-lg px-4 mb-2 mt-3" href="{{ "preface" | absURL }}" role="button">开始阅读</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm mt-3">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-4">
        <h2 class="h4">
          真诚
        </h2>
        <p>
          开源人的真情讲述
        </p>
      </div>
      
      <div class="col-lg-4">
        <h2 class="h4">
          真实
        </h2>
        <p>
          真实的经历才能打动人心
        </p>
      </div>
      
      <div class="col-lg-4">
        <h2 class="h4">
          邀请
        </h2>
        <p>
          欢迎您也来讲述自己的故事
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
